<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>251523790834-a06no0lqmbnq32kfj0m09pumgb1vkd1a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.251523790834-a06no0lqmbnq32kfj0m09pumgb1vkd1a</string>
	<key>API_KEY</key>
	<string>AIzaSyC1Spe-PL6BL3tswJ2hdwti-ziukhyaTmg</string>
	<key>GCM_SENDER_ID</key>
	<string>251523790834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.android.firebase</string>
	<key>PROJECT_ID</key>
	<string>fir-56292</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-56292.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251523790834:ios:642d8b5103460191fadd6b</string>
	<key>DATABASE_URL</key>
	<string>https://fir-56292.firebaseio.com</string>
</dict>
</plist>